<!DOCTYPE html>
<html>
    <head>
        <title>Datewise Item Sale</title>
    </head>
    <body>
        <form method="POST">
            <label for="ddate">Date</label><br>
            <input type="text" name="ddate" id="ddate"><br><br>

            <label for="area">Area</label><br>
            <input type="text" name="area" id="area"><br><br>

            <label for="itemcode">Item Code</label><br>
            <input type="text" name="itemcode" id="itemcode"><br><br>

            <input type="submit">
        </form>
    </body>
</html>